In [1]:
import sys
assert sys.version_info >= (3, 5)

In [2]:
import sys
assert sys.version_info >= (3, 5)

In [3]:
try:
    # %tensorflow_version only exists in Colab.
    %tensorflow_version 2.x
    IS_COLAB = True
except Exception:
    IS_COLAB = False

In [4]:
import numpy as np
import pandas as pd
import os

In [5]:
import tensorflow as tf
from tensorflow import keras
assert tf.__version__ >= "2.0"

In [6]:
excel_file = 'train.xlsx'
data = pd.read_excel(excel_file)
(data.head())

        date    close
0 2018-11-13  1631.17
1 2018-11-12  1636.85
2 2018-11-09  1712.43
3 2018-11-08  1754.91
4 2018-11-07  1755.49

In [7]:
data = data.sort_values(by='date')
(data.head())

           date     close
1499 2012-11-30  252.0500
1498 2012-12-03  250.3291
1497 2012-12-04  252.4881
1496 2012-12-05  253.9600
1495 2012-12-06  253.3700

In [8]:
data.drop(['date'], axis=1)

          close
1499   252.0500
1498   250.3291
1497   252.4881
1496   253.9600
1495   253.3700
...         ...
4     1755.4900
3     1754.9100
2     1712.4300
1     1636.8500
0     1631.1700

[1500 rows x 1 columns]

In [9]:
training_set = data.iloc[:,1:2].values

In [10]:
training_set

array([[ 252.05  ],
       [ 250.3291],
       [ 252.4881],
       ...,
       [1712.43  ],
       [1636.85  ],
       [1631.17  ]])

In [11]:
from sklearn.preprocessing import MinMaxScaler 
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(training_set)

In [12]:
(scaled_data)

array([[0.00382873],
       [0.00286965],
       [0.00407289],
       ...,
       [0.81771469],
       [0.77559312],
       [0.77242759]])

In [13]:
X_train = []
y_train = []
for i in range(40, 1500):
    X_train.append(scaled_data[i-40:i, 0])
    y_train.append(scaled_data[i, 0])
X_train, y_train = np.array(X_train), np.array(y_train)

In [14]:
X_train.shape

(1460, 40)

In [15]:
y_train.shape

(1460,)

In [16]:
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))

In [17]:
X_train.shape

(1460, 40, 1)

In [18]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout

Using TensorFlow backend.

In [19]:
model = Sequential()

In [20]:
model.add(LSTM(units=50, return_sequences= True, input_shape=(X_train.shape[1],1)))
model.add(Dropout(0.2))
model.add(LSTM(units=50, return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(units=50, return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(units = 50))
model.add(Dropout(0.2))
model.add(Dense(units=1))
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_1 (LSTM)                (None, 40, 50)            10400
_________________________________________________________________
dropout_1 (Dropout)          (None, 40, 50)            0
_________________________________________________________________
lstm_2 (LSTM)                (None, 40, 50)            20200
_________________________________________________________________
dropout_2 (Dropout)          (None, 40, 50)            0
_________________________________________________________________
lstm_3 (LSTM)                (None, 40, 50)            20200
_________________________________________________________________
dropout_3 (Dropout)          (None, 40, 50)            0
_________________________________________________________________
lstm_4 (LSTM)                (None, 50)                20200
_________________________________________________________________
dropout_4 (Dropout)          (None, 50)                0
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 51
=================================================================
Total params: 71,051
Trainable params: 71,051
Non-trainable params: 0
_________________________________________________________________

In [21]:
model.compile(optimizer='adam', loss='mean_squared_error')

In [22]:
model.fit(X_train, y_train, epochs=30, batch_size=50)

Epoch 1/30
1460/1460 [==============================] - 5s 4ms/step - loss: 0.0174
Epoch 2/30
1460/1460 [==============================] - 3s 2ms/step - loss: 0.0025
Epoch 3/30
1460/1460 [==============================] - 3s 2ms/step - loss: 0.0022
Epoch 4/30
1460/1460 [==============================] - 3s 2ms/step - loss: 0.0022
Epoch 5/30
1460/1460 [==============================] - 3s 2ms/step - loss: 0.0020
Epoch 6/30
1460/1460 [==============================] - 4s 2ms/step - loss: 0.0023
Epoch 7/30
1460/1460 [==============================] - 3s 2ms/step - loss: 0.0019
Epoch 8/30
1460/1460 [==============================] - 3s 2ms/step - loss: 0.0018
Epoch 9/30
1460/1460 [==============================] - 3s 2ms/step - loss: 0.0019
Epoch 10/30
1460/1460 [==============================] - 3s 2ms/step - loss: 0.0018
Epoch 11/30
1460/1460 [==============================] - 3s 2ms/step - loss: 0.0021
Epoch 12/30
1460/1460 [==============================] - 3s 2ms/step - loss: 0.0020
Epoch 13/30
1460/1460 [==============================] - 4s 3ms/step - loss: 0.0019
Epoch 14/30
1460/1460 [==============================] - 4s 2ms/step - loss: 0.0018
Epoch 15/30
1460/1460 [==============================] - 4s 2ms/step - loss: 0.0017
Epoch 16/30
1460/1460 [==============================] - 4s 2ms/step - loss: 0.0017
Epoch 17/30
1460/1460 [==============================] - 4s 2ms/step - loss: 0.0015
Epoch 18/30
1460/1460 [==============================] - 4s 2ms/step - loss: 0.0017
Epoch 19/30
1460/1460 [==============================] - 4s 2ms/step - loss: 0.0014
Epoch 20/30
1460/1460 [==============================] - 4s 2ms/step - loss: 0.0017
Epoch 21/30
1460/1460 [==============================] - 3s 2ms/step - loss: 0.0015
Epoch 22/30
1460/1460 [==============================] - 4s 2ms/step - loss: 0.0015
Epoch 23/30
1460/1460 [==============================] - 3s 2ms/step - loss: 0.0014
Epoch 24/30
1460/1460 [==============================] - 3s 2ms/step - loss: 0.0016
Epoch 25/30
1460/1460 [==============================] - 4s 2ms/step - loss: 0.0015
Epoch 26/30
1460/1460 [==============================] - 4s 3ms/step - loss: 0.0015
Epoch 27/30
1460/1460 [==============================] - 4s 3ms/step - loss: 0.0015
Epoch 28/30
1460/1460 [==============================] - 4s 3ms/step - loss: 0.0023
Epoch 29/30
1460/1460 [==============================] - 4s 3ms/step - loss: 0.0012
Epoch 30/30
1460/1460 [==============================] - 4s 3ms/step - loss: 0.0013

In [45]:
model.evaluate(X_train, y_train)

1460/1460 [==============================] - 1s 1ms/step

0.0005792052905260241

In [46]:
excel_file1 = 'test.xlsx'
test_data = pd.read_excel(excel_file1)
(test_data.head())

        date    close
0 2019-11-12  1780.10
1 2019-11-11  1771.65
2 2019-11-08  1785.88
3 2019-11-07  1788.20
4 2019-11-06  1795.77

In [47]:
data1 = test_data.sort_values(by='date')
(data1.head())

          date    close
249 2018-11-14  1599.01
248 2018-11-15  1619.44
247 2018-11-16  1593.41
246 2018-11-19  1512.29
245 2018-11-20  1495.46

In [48]:
data1 = data1.drop('date',axis = 1)

In [49]:
(data1.head())

       close
249  1599.01
248  1619.44
247  1593.41
246  1512.29
245  1495.46

In [50]:
test_set = data1.iloc[:,0:1].values

In [51]:
test_set

array([[1599.01],
       [1619.44],
       [1593.41],
       [1512.29],
       [1495.46],
       [1516.73],
       [1502.06],
       [1581.33],
       [1581.42],
       [1677.75],
       [1673.57],
       [1690.17],
       [1772.36],
       [1668.4 ],
       [1699.19],
       [1629.13],
       [1641.03],
       [1643.24],
       [1663.54],
       [1658.38],
       [1591.91],
       [1520.91],
       [1551.48],
       [1495.08],
       [1460.83],
       [1377.45],
       [1343.96],
       [1470.9 ],
       [1461.64],
       [1478.02],
       [1501.97],
       [1539.13],
       [1500.28],
       [1575.39],
       [1629.51],
       [1656.58],
       [1659.42],
       [1656.22],
       [1640.56],
       [1617.21],
       [1674.56],
       [1683.78],
       [1693.22],
       [1696.2 ],
       [1632.17],
       [1640.02],
       [1654.93],
       [1670.57],
       [1637.89],
       [1593.88],
       [1670.43],
       [1718.73],
       [1626.23],
       [1633.31],
       [1658.81],
       [1640.26],
       [1614.37],
       [1588.22],
       [1591.  ],
       [1638.01],
       [1640.  ],
       [1622.65],
       [1607.95],
       [1627.58],
       [1622.1 ],
       [1619.44],
       [1631.56],
       [1633.  ],
       [1636.4 ],
       [1641.09],
       [1639.83],
       [1671.73],
       [1696.17],
       [1692.43],
       [1668.95],
       [1625.95],
       [1620.8 ],
       [1670.62],
       [1673.1 ],
       [1690.81],
       [1686.22],
       [1712.36],
       [1742.15],
       [1761.85],
       [1797.27],
       [1819.26],
       [1764.77],
       [1774.26],
       [1783.76],
       [1765.7 ],
       [1773.42],
       [1780.75],
       [1814.19],
       [1813.98],
       [1820.7 ],
       [1818.86],
       [1837.28],
       [1849.86],
       [1835.84],
       [1847.33],
       [1844.07],
       [1843.06],
       [1844.87],
       [1863.04],
       [1864.82],
       [1861.69],
       [1887.31],
       [1923.77],
       [1901.75],
       [1902.25],
       [1950.63],
       [1938.43],
       [1926.52],
       [1911.52],
       [1900.82],
       [1962.46],
       [1950.55],
       [1921.  ],
       [1917.77],
       [1899.87],
       [1889.98],
       [1822.68],
       [1840.12],
       [1871.15],
       [1907.57],
       [1869.  ],
       [1858.97],
       [1857.52],
       [1859.68],
       [1815.48],
       [1823.28],
       [1836.43],
       [1819.19],
       [1816.32],
       [1775.07],
       [1692.69],
       [1729.56],
       [1738.5 ],
       [1754.36],
       [1804.03],
       [1860.63],
       [1863.7 ],
       [1855.32],
       [1870.3 ],
       [1869.67],
       [1886.03],
       [1901.37],
       [1908.79],
       [1918.19],
       [1911.3 ],
       [1913.9 ],
       [1878.27],
       [1897.83],
       [1904.28],
       [1893.63],
       [1922.19],
       [1934.31],
       [1939.  ],
       [1942.91],
       [1952.32],
       [1988.3 ],
       [2017.41],
       [2001.07],
       [2011.  ],
       [2020.99],
       [2009.9 ],
       [1992.03],
       [1977.9 ],
       [1964.52],
       [1985.63],
       [1994.49],
       [2000.81],
       [1973.82],
       [1943.05],
       [1912.45],
       [1898.53],
       [1866.78],
       [1855.32],
       [1823.24],
       [1765.13],
       [1787.83],
       [1793.4 ],
       [1832.89],
       [1807.58],
       [1784.92],
       [1824.34],
       [1762.96],
       [1776.12],
       [1792.57],
       [1816.12],
       [1801.38],
       [1823.54],
       [1805.6 ],
       [1749.62],
       [1768.87],
       [1761.83],
       [1764.25],
       [1786.4 ],
       [1776.29],
       [1789.84],
       [1800.62],
       [1840.72],
       [1833.51],
       [1831.35],
       [1820.55],
       [1822.99],
       [1843.55],
       [1839.34],
       [1807.84],
       [1822.55],
       [1817.46],
       [1821.5 ],
       [1794.16],
       [1785.3 ],
       [1741.61],
       [1768.33],
       [1739.84],
       [1725.45],
       [1735.91],
       [1735.65],
       [1713.23],
       [1724.42],
       [1739.65],
       [1732.66],
       [1705.51],
       [1721.99],
       [1720.26],
       [1731.92],
       [1736.43],
       [1767.38],
       [1777.43],
       [1787.48],
       [1757.51],
       [1785.66],
       [1765.73],
       [1762.17],
       [1780.78],
       [1761.33],
       [1777.08],
       [1762.71],
       [1779.99],
       [1776.66],
       [1791.44],
       [1804.66],
       [1801.71],
       [1795.77],
       [1788.2 ],
       [1785.88],
       [1771.65],
       [1780.1 ]])

In [52]:
test_scaled_data = scaler.fit_transform(test_set)

In [53]:
len(test_scaled_data)

250

In [54]:
X_test = []
y_test = []
for i in range(40, 250):
    X_test.append(test_scaled_data[i-40:i, 0])
    y_test.append(test_scaled_data[i, 0])
X_test, y_test = np.array(X_test), np.array(y_test)

In [55]:
X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1], 1))

In [56]:
X_test.shape

(210, 40, 1)

In [57]:
model.evaluate(X_test,y_test)

210/210 [==============================] - 0s 613us/step

0.01067052916180165