In [1]:
import sys
assert sys.version_info >= (3, 5)

In [2]:
import sys
assert sys.version_info >= (3, 5)

In [3]:
try:
    # %tensorflow_version only exists in Colab.
    %tensorflow_version 2.x
    IS_COLAB = True
except Exception:
    IS_COLAB = False

In [4]:
import numpy as np
import pandas as pd
import os

In [5]:
import tensorflow as tf
from tensorflow import keras
assert tf.__version__ >= "2.0"

In [6]:
excel_file = 'train.xlsx'
data = pd.read_excel(excel_file)
(data.head())

        date    close
0 2018-11-13  1631.17
1 2018-11-12  1636.85
2 2018-11-09  1712.43
3 2018-11-08  1754.91
4 2018-11-07  1755.49

In [7]:
data = data.sort_values(by='date')
(data.head(12))

           date     close
1499 2012-11-30  252.0500
1498 2012-12-03  250.3291
1497 2012-12-04  252.4881
1496 2012-12-05  253.9600
1495 2012-12-06  253.3700
1494 2012-12-07  253.2681
1493 2012-12-10  247.7700
1492 2012-12-11  250.6900
1491 2012-12-12  251.7600
1490 2012-12-13  251.2500
1489 2012-12-14  249.1900
1488 2012-12-17  253.8600

In [8]:
data.drop(['date'], axis=1)

          close
1499   252.0500
1498   250.3291
1497   252.4881
1496   253.9600
1495   253.3700
...         ...
4     1755.4900
3     1754.9100
2     1712.4300
1     1636.8500
0     1631.1700

[1500 rows x 1 columns]

In [9]:
training_set = data.iloc[:,1:2].values

In [10]:
training_set

array([[ 252.05  ],
       [ 250.3291],
       [ 252.4881],
       ...,
       [1712.43  ],
       [1636.85  ],
       [1631.17  ]])

In [11]:
from sklearn.preprocessing import MinMaxScaler 
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(training_set)

In [28]:
scaled_data

array([[0.00382873],
       [0.00286965],
       [0.00407289],
       ...,
       [0.81771469],
       [0.77559312],
       [0.77242759]])

In [25]:
X_train = []
y_train = []
for i in range(11, 1500):
    X_train.append(scaled_data[i-11:i,0])
    y_train.append(scaled_data[i,0])
X_train, y_train = np.array(X_train), np.array(y_train)

In [26]:
y_train

array([0.00483746, 0.00848227, 0.00713916, ..., 0.81771469, 0.77559312,
       0.77242759])

In [14]:
X_train.shape

(1489, 11)

In [15]:
y_train.shape
#Y = np.expand_dims(Y, axis=1)
#Y.shape

(1489,)

In [16]:
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))

In [17]:
X_train.shape

(1489, 11, 1)

In [18]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout

Using TensorFlow backend.

In [19]:
model = Sequential()

In [20]:

model.add(LSTM(units=50, return_sequences= True, input_shape=(X_train.shape[1],1)))
model.add(Dropout(0.2))
model.add(LSTM(units=50, return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(units=50, return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(units = 50))
model.add(Dropout(0.2))
model.add(Dense(units=1))
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_1 (LSTM)                (None, 11, 50)            10400
_________________________________________________________________
dropout_1 (Dropout)          (None, 11, 50)            0
_________________________________________________________________
lstm_2 (LSTM)                (None, 11, 50)            20200
_________________________________________________________________
dropout_2 (Dropout)          (None, 11, 50)            0
_________________________________________________________________
lstm_3 (LSTM)                (None, 11, 50)            20200
_________________________________________________________________
dropout_3 (Dropout)          (None, 11, 50)            0
_________________________________________________________________
lstm_4 (LSTM)                (None, 50)                20200
_________________________________________________________________
dropout_4 (Dropout)          (None, 50)                0
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 51
=================================================================
Total params: 71,051
Trainable params: 71,051
Non-trainable params: 0
_________________________________________________________________

In [21]:
model.compile(optimizer='adam', loss='mean_squared_error')

In [22]:
model.fit(X_train, y_train, epochs=20, batch_size=25)

Epoch 1/20
1489/1489 [==============================] - 12s 8ms/step - loss: 0.0209
Epoch 2/20
1489/1489 [==============================] - 5s 3ms/step - loss: 0.0028
Epoch 3/20
1489/1489 [==============================] - 4s 3ms/step - loss: 0.0019
Epoch 4/20
1489/1489 [==============================] - 4s 2ms/step - loss: 0.0019
Epoch 5/20
1489/1489 [==============================] - 4s 2ms/step - loss: 0.0017
Epoch 6/20
1489/1489 [==============================] - 4s 2ms/step - loss: 0.0017A: 1s - loss: 0 - ETA: 1s - ETA: 0s - l
Epoch 7/20
1489/1489 [==============================] - 4s 2ms/step - loss: 0.0015
Epoch 8/20
1489/1489 [==============================] - 4s 3ms/step - loss: 0.0014
Epoch 9/20
1489/1489 [==============================] - 4s 3ms/step - loss: 0.0015
Epoch 10/20
1489/1489 [==============================] - 4s 3ms/step - loss: 0.0015
Epoch 11/20
1489/1489 [==============================] - 4s 2ms/step - loss: 0.0019
Epoch 12/20
1489/1489 [==============================] - 4s 3ms/step - loss: 0.0016
Epoch 13/20
1489/1489 [==============================] - 4s 2ms/step - loss: 0.0017A: 0s - loss:
Epoch 14/20
1489/1489 [==============================] - 4s 2ms/step - loss: 0.0014
Epoch 15/20
1489/1489 [==============================] - 4s 2ms/step - loss: 0.0016A: 0
Epoch 16/20
1489/1489 [==============================] - 4s 2ms/step - loss: 0.0013A: 0s - loss:
Epoch 17/20
1489/1489 [==============================] - 4s 2ms/step - loss: 0.0015
Epoch 18/20
1489/1489 [==============================] - 4s 2ms/step - loss: 0.0012
Epoch 19/20
1489/1489 [==============================] - 4s 2ms/step - loss: 0.0014A: 0s
Epoch 20/20
1489/1489 [==============================] - 4s 2ms/step - loss: 0.0013A: 0s - los

In [23]:
model.evaluate(X_train, y_train)

1489/1489 [==============================] - 2s 1ms/step

0.0004020309193926701

In [17]:
excel_file1 = 'test.xlsx'
test_data = pd.read_excel(excel_file1)
(test_data.head())

        date    close
0 2019-11-12  1780.10
1 2019-11-11  1771.65
2 2019-11-08  1785.88
3 2019-11-07  1788.20
4 2019-11-06  1795.77

In [18]:
data1 = test_data.sort_values(by='date')
(data1.head(12))

          date    close
249 2018-11-14  1599.01
248 2018-11-15  1619.44
247 2018-11-16  1593.41
246 2018-11-19  1512.29
245 2018-11-20  1495.46
244 2018-11-21  1516.73
243 2018-11-23  1502.06
242 2018-11-26  1581.33
241 2018-11-27  1581.42
240 2018-11-28  1677.75
239 2018-11-29  1673.57
238 2018-11-30  1690.17

In [19]:
data1 = data1.drop('date',axis = 1)

In [20]:
(data1.head())

       close
249  1599.01
248  1619.44
247  1593.41
246  1512.29
245  1495.46

In [21]:
test_set = data1.iloc[:,0:1].values

In [22]:
test_set

array([[1599.01],
       [1619.44],
       [1593.41],
       [1512.29],
       [1495.46],
       [1516.73],
       [1502.06],
       [1581.33],
       [1581.42],
       [1677.75],
       [1673.57],
       [1690.17],
       [1772.36],
       [1668.4 ],
       [1699.19],
       [1629.13],
       [1641.03],
       [1643.24],
       [1663.54],
       [1658.38],
       [1591.91],
       [1520.91],
       [1551.48],
       [1495.08],
       [1460.83],
       [1377.45],
       [1343.96],
       [1470.9 ],
       [1461.64],
       [1478.02],
       [1501.97],
       [1539.13],
       [1500.28],
       [1575.39],
       [1629.51],
       [1656.58],
       [1659.42],
       [1656.22],
       [1640.56],
       [1617.21],
       [1674.56],
       [1683.78],
       [1693.22],
       [1696.2 ],
       [1632.17],
       [1640.02],
       [1654.93],
       [1670.57],
       [1637.89],
       [1593.88],
       [1670.43],
       [1718.73],
       [1626.23],
       [1633.31],
       [1658.81],
       [1640.26],
       [1614.37],
       [1588.22],
       [1591.  ],
       [1638.01],
       [1640.  ],
       [1622.65],
       [1607.95],
       [1627.58],
       [1622.1 ],
       [1619.44],
       [1631.56],
       [1633.  ],
       [1636.4 ],
       [1641.09],
       [1639.83],
       [1671.73],
       [1696.17],
       [1692.43],
       [1668.95],
       [1625.95],
       [1620.8 ],
       [1670.62],
       [1673.1 ],
       [1690.81],
       [1686.22],
       [1712.36],
       [1742.15],
       [1761.85],
       [1797.27],
       [1819.26],
       [1764.77],
       [1774.26],
       [1783.76],
       [1765.7 ],
       [1773.42],
       [1780.75],
       [1814.19],
       [1813.98],
       [1820.7 ],
       [1818.86],
       [1837.28],
       [1849.86],
       [1835.84],
       [1847.33],
       [1844.07],
       [1843.06],
       [1844.87],
       [1863.04],
       [1864.82],
       [1861.69],
       [1887.31],
       [1923.77],
       [1901.75],
       [1902.25],
       [1950.63],
       [1938.43],
       [1926.52],
       [1911.52],
       [1900.82],
       [1962.46],
       [1950.55],
       [1921.  ],
       [1917.77],
       [1899.87],
       [1889.98],
       [1822.68],
       [1840.12],
       [1871.15],
       [1907.57],
       [1869.  ],
       [1858.97],
       [1857.52],
       [1859.68],
       [1815.48],
       [1823.28],
       [1836.43],
       [1819.19],
       [1816.32],
       [1775.07],
       [1692.69],
       [1729.56],
       [1738.5 ],
       [1754.36],
       [1804.03],
       [1860.63],
       [1863.7 ],
       [1855.32],
       [1870.3 ],
       [1869.67],
       [1886.03],
       [1901.37],
       [1908.79],
       [1918.19],
       [1911.3 ],
       [1913.9 ],
       [1878.27],
       [1897.83],
       [1904.28],
       [1893.63],
       [1922.19],
       [1934.31],
       [1939.  ],
       [1942.91],
       [1952.32],
       [1988.3 ],
       [2017.41],
       [2001.07],
       [2011.  ],
       [2020.99],
       [2009.9 ],
       [1992.03],
       [1977.9 ],
       [1964.52],
       [1985.63],
       [1994.49],
       [2000.81],
       [1973.82],
       [1943.05],
       [1912.45],
       [1898.53],
       [1866.78],
       [1855.32],
       [1823.24],
       [1765.13],
       [1787.83],
       [1793.4 ],
       [1832.89],
       [1807.58],
       [1784.92],
       [1824.34],
       [1762.96],
       [1776.12],
       [1792.57],
       [1816.12],
       [1801.38],
       [1823.54],
       [1805.6 ],
       [1749.62],
       [1768.87],
       [1761.83],
       [1764.25],
       [1786.4 ],
       [1776.29],
       [1789.84],
       [1800.62],
       [1840.72],
       [1833.51],
       [1831.35],
       [1820.55],
       [1822.99],
       [1843.55],
       [1839.34],
       [1807.84],
       [1822.55],
       [1817.46],
       [1821.5 ],
       [1794.16],
       [1785.3 ],
       [1741.61],
       [1768.33],
       [1739.84],
       [1725.45],
       [1735.91],
       [1735.65],
       [1713.23],
       [1724.42],
       [1739.65],
       [1732.66],
       [1705.51],
       [1721.99],
       [1720.26],
       [1731.92],
       [1736.43],
       [1767.38],
       [1777.43],
       [1787.48],
       [1757.51],
       [1785.66],
       [1765.73],
       [1762.17],
       [1780.78],
       [1761.33],
       [1777.08],
       [1762.71],
       [1779.99],
       [1776.66],
       [1791.44],
       [1804.66],
       [1801.71],
       [1795.77],
       [1788.2 ],
       [1785.88],
       [1771.65],
       [1780.1 ]])

In [23]:
test_scaled_data = scaler.fit_transform(test_set)

In [26]:
test_scaled_data

array([[0.3767189 ],
       [0.40689482],
       [0.36844748],
       [0.24863005],
       [0.22377147],
       [0.2551881 ],
       [0.23351993],
       [0.35060485],
       [0.35073778],
       [0.49302099],
       [0.48684696],
       [0.51136582],
       [0.63276369],
       [0.47921067],
       [0.52468871],
       [0.42120733],
       [0.4387841 ],
       [0.44204836],
       [0.47203226],
       [0.46441074],
       [0.36623192],
       [0.26136213],
       [0.30651522],
       [0.2232102 ],
       [0.1726216 ],
       [0.04946605],
       [0.        ],
       [0.18749538],
       [0.173818  ],
       [0.1980119 ],
       [0.233387  ],
       [0.28827378],
       [0.2308908 ],
       [0.34183123],
       [0.42176861],
       [0.46175206],
       [0.46594686],
       [0.46122033],
       [0.43808989],
       [0.40360102],
       [0.48830923],
       [0.50192754],
       [0.51587079],
       [0.52027237],
       [0.42569753],
       [0.43729229],
       [0.45931495],
       [0.48241585],
       [0.4341462 ],
       [0.36914169],
       [0.48220906],
       [0.55355006],
       [0.41692392],
       [0.42738136],
       [0.46504586],
       [0.43764678],
       [0.39940623],
       [0.36078165],
       [0.36488782],
       [0.43432344],
       [0.43726275],
       [0.41163612],
       [0.38992364],
       [0.41891792],
       [0.41082374],
       [0.40689482],
       [0.42479654],
       [0.42692347],
       [0.43194541],
       [0.43887272],
       [0.43701165],
       [0.48412921],
       [0.52022805],
       [0.51470393],
       [0.48002304],
       [0.41651035],
       [0.40890359],
       [0.4824897 ],
       [0.48615276],
       [0.51231112],
       [0.50553151],
       [0.54414132],
       [0.58814233],
       [0.61724   ],
       [0.66955674],
       [0.70203684],
       [0.62155296],
       [0.63557006],
       [0.64960194],
       [0.62292661],
       [0.63432935],
       [0.64515605],
       [0.69454825],
       [0.69423807],
       [0.70416377],
       [0.70144602],
       [0.72865309],
       [0.74723424],
       [0.72652615],
       [0.74349733],
       [0.73868219],
       [0.73719038],
       [0.73986382],
       [0.76670162],
       [0.76933075],
       [0.76470762],
       [0.80254937],
       [0.85640223],
       [0.82387782],
       [0.82461634],
       [0.89607551],
       [0.87805563],
       [0.86046409],
       [0.83830849],
       [0.82250417],
       [0.91354888],
       [0.89595734],
       [0.85231083],
       [0.84753999],
       [0.82110099],
       [0.80649307],
       [0.70708831],
       [0.73284788],
       [0.77868041],
       [0.83247419],
       [0.77550478],
       [0.76069007],
       [0.75854837],
       [0.76173877],
       [0.69645363],
       [0.70797454],
       [0.7273976 ],
       [0.70193344],
       [0.69769434],
       [0.63676647],
       [0.51508796],
       [0.5695464 ],
       [0.58275113],
       [0.60617698],
       [0.67954153],
       [0.76314196],
       [0.76767647],
       [0.75529888],
       [0.77742493],
       [0.77649439],
       [0.80065876],
       [0.82331654],
       [0.83427618],
       [0.84816035],
       [0.83798355],
       [0.84182385],
       [0.78919693],
       [0.81808782],
       [0.82761473],
       [0.81188426],
       [0.85406851],
       [0.87197022],
       [0.87889754],
       [0.88467276],
       [0.8985717 ],
       [0.95171558],
       [0.9947122 ],
       [0.97057737],
       [0.98524438],
       [1.        ],
       [0.98361963],
       [0.95722494],
       [0.93635437],
       [0.91659158],
       [0.94777189],
       [0.96085846],
       [0.97019334],
       [0.93032805],
       [0.88487955],
       [0.83968214],
       [0.81912175],
       [0.77222575],
       [0.75529888],
       [0.70791545],
       [0.62208469],
       [0.65561349],
       [0.6638406 ],
       [0.72216888],
       [0.68478502],
       [0.6513153 ],
       [0.7095402 ],
       [0.61887952],
       [0.63831736],
       [0.66261466],
       [0.69739893],
       [0.67562737],
       [0.70835857],
       [0.68186048],
       [0.59917581],
       [0.62760882],
       [0.61721046],
       [0.6207849 ],
       [0.65350132],
       [0.63856845],
       [0.65858234],
       [0.67450482],
       [0.7337341 ],
       [0.72308465],
       [0.71989424],
       [0.70394222],
       [0.70754619],
       [0.73791412],
       [0.73169579],
       [0.68516905],
       [0.7068963 ],
       [0.69937817],
       [0.70534541],
       [0.66496315],
       [0.65187658],
       [0.58734473],
       [0.62681122],
       [0.58473037],
       [0.56347577],
       [0.5789256 ],
       [0.57854157],
       [0.54542635],
       [0.56195442],
       [0.58444973],
       [0.57412522],
       [0.5340236 ],
       [0.55836521],
       [0.55580993],
       [0.57303221],
       [0.57969366],
       [0.62540803],
       [0.64025228],
       [0.65509652],
       [0.61082965],
       [0.65240831],
       [0.62297092],
       [0.61771266],
       [0.64520036],
       [0.61647194],
       [0.63973531],
       [0.61851026],
       [0.6440335 ],
       [0.63911496],
       [0.6609456 ],
       [0.68047206],
       [0.6761148 ],
       [0.66734118],
       [0.65615999],
       [0.65273326],
       [0.63171499],
       [0.64419597]])

In [27]:
X_test = []
y_test = []
for i in range(11, 250):
    X_test.append(test_scaled_data[i-11:i, 0])
    y_test.append(test_scaled_data[i, 0])
X_test, y_test = np.array(X_test), np.array(y_test)

In [28]:
X_test[0]

array([0.3767189 , 0.40689482, 0.36844748, 0.24863005, 0.22377147,
       0.2551881 , 0.23351993, 0.35060485, 0.35073778, 0.49302099,
       0.48684696])

In [33]:
X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1], 1))

In [34]:
X_test.shape

(239, 11, 1)

In [35]:
model.evaluate(X_test,y_test)

239/239 [==============================] - 0s 644us/step

0.011487262251774223